<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.dao.RechargeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.park.model.Recharge">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="member_id" property="memberId"/>
        <result column="nickname" property="nickname"/>
        <result column="money" property="money"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="getBillList" resultType="com.park.pojo.BillVo">
        SELECT
            *
        FROM
            (
                SELECT
                    member_id as memberId,
                    '余额充值' AS type,
                    money,
                    `status`,
                    create_time
                FROM
                    tb_recharge
                UNION
                    (
                        SELECT
                            member_id as memberId,
                            '停车消费' AS type,
                            0-amount AS money,
                            `status`,
                            end_time AS create_time
                        FROM
                            tb_order
                        WHERE
                            pay_type = 1
                    )
            ) AS t
        WHERE t.memberId = #{memberId}
        ORDER BY
            t.create_time desc
    </select>
</mapper>
